@font-face {
  font-family: din2014;
  src: url(/assets/fonts/DIN2014.woff);
  src: url(/assets/fonts/DIN2014.eot?#iefix) format("embedded-opentype"),url(/assets/fonts/DIN2014.otf) format("opentype"),url(/assets/fonts/DIN2014.svg) format("svg")
}