*{
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: din2014;
  src: url(/assets/fonts/DIN2014.eot);
  src: url(/assets/fonts/DIN2014.eot?#iefix) format("embedded-opentype"),url(/assets/fonts/DIN2014.otf) format("opentype"),url(/assets/fonts/DIN2014.svg) format("svg")
}

body {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  background-color: $white;
  font-family: din2014;
}
html {
  scroll-behavior: smooth;
  height: 100%;
}
.logo {
  height: 70px;
}
.title {
  color: $white;

}
.text_title {
  margin-bottom: 35px;
  color: $primary;
  font-size: 48px;
}
.svg {
  width: 100%;
  max-width: 400px;
}

#overgouda {
  background-color: $bgColor;
}
.overGouda-cols {
  padding-right: 70px;
}

#media {
  background-color: $primary;
  color: $white;
}
#media h4 {
  color: $white;
}