{% extends 'base.html.twig' %}

{% block title %}Privacy Statement{% endblock %}

{% block body %}
    <div class="container mb-5" style="margin-top: 130px">
        <div class="row">
            <div class="col-11">
                <h1><strong>Privacy Statement</strong></h1>
                <p>&nbsp;</p>
                <p><strong>De gemeente Gouda vindt het beschermen van uw gegevens belangrijk. U heeft er recht op dat de
                        gemeente veilig, correct, transparant, terughoudend en vertrouwelijk met uw persoonsgegevens
                        omgaat. Dit is vastgelegd in de Algemene Verordening Gegevensbescherming (AVG) en andere
                        specifieke wetgeving. Voor de gemeente Gouda is deze wetgeving leidend.</strong></p>
                <p>Als u gebruik maakt van diensten of producten van de gemeente, hebben wij meestal gegevens van u nodig.
                Die verstrekt u bijvoorbeeld via een formulier op deze website of telefonisch. Denk aan uw naam,
                    adresgegevens, geboortedatum, telefoonnummer etc.</p>

                <h3><strong>Waarom is dat nodig&#63;</strong></h3>
                <p>De gemeente heeft persoonsgegevens nodig voor bijvoorbeeld:</p>
                <ul>
                    <li><p>Het uitvoeren van onze publiekrechtelijke taken, zoals het beoordelen van een aanvraag</p></li>
                    <li><p>Het afhandelen van een betaling</p></li>
                    <li><p>Om te kunnen bellen als dit nodig is om onze dienstverlening uit te kunnen voeren</p></li>
                    <li><p>Om te informeren over wijzigingen van onze diensten en producten</p></li>
                    <li><p>Om iets af te leveren als wij hier wettelijk toe verplicht zijn, bijvoorbeeld gegevens die wij nodig hebben voor een belastingaanslag</p></li>
                    <li><p>Statistische- en/of onderzoeksdoeleinden.</p></li>
                </ul>
                <p>In sommige gevallen verwerkt de gemeente zogenaamde ‘bijzondere’ en/of ‘gevoelige persoonsgegevens’,
                denk hierbij aan het vastleggen van gegevens over iemands gezondheid. Dat doen wij alleen als daarvoor
                een wettelijke grondslag bestaat.</p>
                <p>De gemeente Gouda is bezig om de werkprocessen waarin persoonsgegevens worden verwerkt in kaart te
                brengen in een Register van Verwerkingen. In dit wettelijk verplichte register beschrijft de gemeente in
                    welke werkprocessen persoonsgegevens worden verwerkt en voor welke doeleinden.</p>

                <h3><strong>Hoe lang bewaren wij gegevens?</strong></h3>
                <p>De gemeente Gouda bewaart persoonsgegevens niet langer dan strikt nodig is. In een aantal gevallen
                worden gegevens langer bewaard op grond van de Archiefwet.</p>

                <h3><strong>Delen met anderen</strong></h3>
                <p>Gemeente Gouda zal gegevens uitsluitend verstrekken aan andere organisaties als dit nodig is om te
                voldoen aan een wettelijke verplichting. Met organisaties die gegevens nodig hebben in opdracht van ons,
                sluiten wij een Verwerkersovereenkomst. Denk bijvoorbeeld aan de BSGR, de organisatie die de
                gemeentelijke belastingen voor de gemeente verzorgt. Dat betekent dat die organisaties, zoals de BSGR,
                op eenzelfde zorgvuldige, veilige en vertrouwelijke manier omgaan met uw persoonsgegevens als de
                    gemeente Gouda. De gemeente Gouda blijft verantwoordelijk voor deze verwerkingen van persoonsgegevens.</p>

                <h3><strong>Gegevens inzien, aanpassen of verwijderen</strong></h3>
                <p>U heeft altijd het recht om uw persoonsgegevens in te zien, te corrigeren of te laten verwijderen. U
                kunt een verzoek tot inzage, correctie of verwijdering sturen naar de Privacyofficer van de gemeente
                    Gouda via <a href="mailto:privacy@gouda.nl">privacy@gouda.nl</a> of tel. 14 0182.</p>

                <h3><strong>Beveiliging</strong></h3>
                <p>De gemeente Gouda neemt de bescherming van uw gegevens zeer serieus en doet al het mogelijke om
                misbruik, verlies, onbevoegde toegang, ongewenste openbaarmaking en ongeoorloofde wijziging tegen te
                gaan. Heeft u de indruk dat uw gegevens niet goed beveiligd zijn? Of vermoedt u dat wij zonder
                toestemming persoonsgegevens of gegevens van een minderjarige hebben gebruikt? Of heeft u aanwijzingen
                    van misbruik, neem dan contact op met ons via <a href="mailto:privacy@gouda.nl">privacy@gouda.nl</a> of tel. 14 0182.</p>

                <h3><strong>Uw websitebezoek</strong></h3>
                <p> De gemeente Gouda gebruikt technische <a href="https://www.gouda.nl/Configuratie/Ondersteunende_navigatie_footer/Wat_zijn_cookies">cookies</a>, functionele cookies en analytische cookies. Een cookie is
                een klein tekstbestand dat bij het eerste bezoek aan deze website wordt opgeslagen op uw computer,
                tablet of smartphone. De cookies die wij gebruiken zijn noodzakelijk voor de technische werking van de
                website en uw gebruiksgemak. Ze zorgen ervoor dat de website naar behoren werkt en onthouden
                bijvoorbeeld uw voorkeursinstellingen. Met cookies worden daarnaast uw surfgedrag en voorkeuren
                bijgehouden. Hiermee kunnen wij onze dienstverlening aan u verbeteren. Toch kunt u ervoor kiezen om zich
                af te melden voor de cookies door uw internetbrowser zo in te stellen dat deze geen cookies meer
                opslaat. Daarnaast kunt u ook alle informatie die eerder is opgeslagen via de instellingen van uw
                    browser verwijderen.</p>

                <h3><strong>Kinderen en websitebezoek</strong></h3>
                <p>De gemeente Gouda heeft niet de intentie gegevens te verzamelen over websitebezoekers die jonger zijn
                dan 16 jaar, tenzij ze toestemming hebben van ouders of voogd. Onze website kan echter niet controleren
                of een bezoeker ouder is dan 16 jaar. Wij raden ouders dan ook aan betrokken te zijn bij de online
                activiteiten van hun kinderen, om zo te voorkomen dat hun persoonsgegevens verzameld worden zonder
                    toestemming.</p>

                <h3><strong>Meer informatie</strong></h3>
                <p>Als u vragen heeft over het gebruik van uw persoonsgegevens door de gemeente Gouda kunt u contact
                opnemen met de Privacyofficer van de gemeente Gouda via <a href="mailto:privacy@gouda.nl">privacy@gouda.nl</a> of 14 0182. Wij helpen u ook
                    graag verder als u klachten heeft over de verwerking van uw persoonsgegevens.</p>
                <p>Mocht u er desondanks toch niet samen met ons uitkomen, dan heeft u op grond van de privacywetgeving ook
                het recht om een klacht in te dienen bij de door ons aangewezen Functionaris Gegevensbescherming via
                <a href="mailto:fg@gouda.nl">fg@gouda.nl</a> of bij de Autoriteit Persoonsgegevens via <a href="http://www.autoriteitpersoonsgegevens.nl/">www.autoriteitpersoonsgegevens.nl</a>.
                    Op de website van de Autoriteit Persoonsgegevens vindt u ook meer informatie over privacy.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
