{% extends 'base.html.twig' %}

{% block title %}Proclaimer{% endblock %}

{% block body %}
    <div class="container mb-5" style="margin-top: 130px">
        <div class="row">
            <div class="col-11">
                <h1><strong>Terms of Service</strong></h1>
                <p>&nbsp;</p>
                <p><strong>De gemeente Gouda is verantwoordelijk voor de inhoud van deze website en doet er alles aan
                        deze actueel, volledig, veilig en juist te houden. De normen uit de Service Code Gouda zijn
                        hierbij leidraad.</strong></p>
                <p>Komt u desondanks toch iets tegen dat niet correct is of verouderd, dan stellen wij uw reactie
                    bijzonder op prijs. Onderaan de websitepagina's van deze site kunt u vinden hoe u kunt reageren. De
                    toegankelijkheid van deze site is voor ons belangrijk. We zorgen dan ook dat de website voldoet aan
                    de webrichtlijnen van de overheid.</p>

                <h3><strong>Bekendmakingen</strong></h3>
                <p>De wekelijkse <a href="https://www.gouda.nl/Bestuur_en_organisatie/Publicaties_en_besluiten/Gemeentenieuws_in_krant">bekendmakingen</a>
                    van de gemeente Gouda worden geplaatst in het gratis huis-aan-huisblad de Goudse Post.</p>

                <h3><strong>Privacy</strong></h3>
                <p>Persoons- of adresgegevens worden gebruikt waarvoor u ze heeft verstrekt. Daarnaast kunnen uw
                    contactgegevens gebruikt worden voor onderzoeksdoeleinden. De gemeente Gouda doet regelmatig
                    onderzoek naar de klanttevredenheid om zodoende haar dienstverlening te verbeteren. Mocht u liever
                    niet benaderd worden voor onderzoeksdoeleinden vanuit de gemeente Gouda, kunt u zich
                    <a href="https://www.gouda.nl/Bestuur_en_organisatie/Contact_met_de_gemeente/Uw_vraag_of_opmerking_indienen/Afmeldingsregister_onderzoek">hier
                        inschrijven</a> voor het afmeldingsregister onderzoek.</p>

                <h3><strong>Copyright</strong></h3>
                <p>Gebruik van fotografie/beeldmateriaal alleen na schriftelijk toestemming van de betreffende
                    fotograaf. Tenzij anders vermeld, is op deze website een
                    <a href="https://creativecommons.org/licenses/by-nd/4.0/deed.nl">Creative Commons Licentie</a>
                    van toepassing. De gebruiker mag de inhoud van de website kopiëren, verspreiden en doorgeven maar
                    niet bewerken. De gebruiker dient http://www.gouda.nl/ als bron te vermelden.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
