{% extends 'base.html.twig' %}

{% block title %}Edit Read{% endblock %}

{% block body %}
    <h1>Edit Read</h1>

    {{ include('read/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('read_index') }}">back to list</a>

    {{ include('read/_delete_form.html.twig') }}
{% endblock %}
