#blog {
  padding: 120px 0;
  .blog-slider{
    .post {
      max-width: 30%;
      .post-outer {
        border: 1px solid $primary;
        .post-inner {
          display: flex;
          flex-direction: column;
          .post-head {
            padding: 10px;
            background-color: $secBg;

          }

          .post-body {
            padding: 10px;
            height: 100%;
            margin-top: auto;
          }

          .post-footer {
            padding: 10px;
            background-color: $secBg;
          }
        }
      }
    }
  }
}
