#blog {
  padding: 120px 0;
}

#viewpost {
  .card {
    margin: 50px auto;
    max-width: 700px;
    .card-img-top {
      height: 475px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}
.card-deck {

}
.card {
  border: 1px solid $primary;
  .card-img-top {
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .read-more {
    padding: 1.25rem;
    display: flex;
    a.btn-green {
      margin-left: auto;
      background-color: $primary;
      color: white;

      &:hover {
        background-color: darken($primary, 7.5%);
        color: $white;
      }

    }
  }


  .card-footer {
    background-color: $secBg;
    display: flex;

    .social-buttons {
      display: flex;
      align-items: center;
      iframe {
        margin-right: 15px;
      }
      .IN-widget {
        transform: scale(1.39);
      }
      .fb_iframe_widget {
        margin-right: 15px;
      }
    }

  }

}


