.btn {
  font-weight: 700;
  border-radius: 0;

  &.btn-primary {
    background-color: $secondary;
    border: none;

    &:hover {
      background-color: darken($secondary, 7%);
    }

  }

}
//a.btn {
//  color: $white !important;
//}
.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.readMore:hover {
  border: $primary;
}

.btn-outline-danger {
  background-color: $white;
  border: 2px solid $text-color;

  &:active, &:focus {
    box-shadow: none !important;
  }

 &:hover {
  background-color: $primary;
  border-color: darken($white, 7.5%) !important;
  color: $white;
}

  //
  //&:active, &:focus {
  //  //box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
  //}
  //
  //&:disabled {
  //  //background-color: rgb(216, 205, 184);
  //  border-color: darken($primary, 25%);
  //}
}

.btn-danger {
  background-color: $primary;
  border-color: $primary;

  &:active, &:focus, &:hover {
    background-color: darken($primary, 7.5%) !important;
    border-color: darken($primary, 7.5%) !important;
    color: $white;
  }

  &:active, &:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
  }

  &:disabled {
    background-color: rgb(216, 205, 184);
    border-color: darken($primary, 25%);
  }
}
