.banner {
  height: calc(60vh + 91px);
  background-image: url("/img/banner.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .header {

    width: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

    a {
      background-color: white;
      color: $primary;

      &:hover {
        background-color: darken($primary, 7.5%);
        color: $white;
      }

    }

    #logo {
      background-image: url(/img/CG_Logo.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 267px;
      height: 300px;
      background-color: $white;
    }
    a {
      margin-top: auto;
    }
  }
}

@media only screen and (min-width: 768px) {
  .banner {
    height: 100vh;
    .header {
      width: 80%;
      #logo {
        align-self: flex-end;
      }
    }
  }
}
