.banner {
  height: 60vh;
  background-image: url("/img/bannerbg.jpg");
  background-size: cover;
  background-position: center;
}

.header {
  padding-top: 4em;

  img {
    width: 150px;
    height: 150px;
  }
}

@media(min-width:992px) {
  .header {
    img {
      width: 400px;
      height: 400px;
    }
  }
}

.overgouda-jumbo {
  background-color: $primary;
  h2 {
    color: $white;
    font-weight: 500;
    &p {
      color: $white;
    }
  }
}

@media only screen and (min-width: 768px) {
  .banner {
    height: 100vh;
  }
}
