@import "aos.css";
@import "tiny-slider.css";

@font-face {
    font-family: din2014;
    src: url(/fonts/DIN2014.woff);
    src: url(/fonts/DIN2014.eot?#iefix) format("embedded-opentype"),url(/fonts/DIN2014.otf) format("opentype"),url(/fonts/DIN2014.svg) format("svg")
}