*{
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  background-color: $white;
}
html {
  scroll-behavior: smooth;
  height: 100%;
}
.logo {
  height: 70px;
}
.title {
  color: $white;

}
.text_title {
  margin-bottom: 35px;
  color: $red;
  font-size: 48px;
}
.svg {
  width: 100%;
  max-width: 400px;
}

#overgouda {
  background-color: $bgColor;
}
.overGouda-cols {
  padding-right: 70px;
}

#media {
  background-color: $red;
  color: $white;
}
#media h4 {
  color: $white;
}