<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <script src="/js/aos.js"></script>

        {% block stylesheets %}
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="/css/aos.css">
            <link rel="stylesheet" type="text/css" href="/scss/main.css">
        {% endblock %}
    </head>
    <body>
    <div class="container-fluid bg-white">
        <div class="row">
            <div class="col-sm-12 col-lg-11 mx-auto">
                <!-- Navigation -->
                <nav class="navbar navbar-expand-lg  fixed-top" id="mainNav">
                    <div class="container">
                        <a class="navbar-brand js-scroll-trigger" title="scroll to the top" href="#page-top">
                            <h1 class="text_title mb-0">Campus Gouda</h1>
                        </a>
                        <div class="menu cross navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                            <label>
                                <input type="checkbox">
                                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <path class="line--1" d="M0 70l28-28c2-2 2-2 7-2h64" />
                                    <path class="line--2" d="M0 50h99" />
                                    <path class="line--3" d="M0 30l28 28c2 2 2 2 7 2h64" />
                                </svg>
                            </label>
                        </div>
                        <div class="collapse navbar-collapse" id="navbarResponsive">
                            <ul class="navbar-nav text-uppercase ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link js-scroll-trigger" href="/home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link js-scroll-trigger" href="#overgouda">Over gouda</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link js-scroll-trigger" href="#media">Media</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link js-scroll-trigger" href="/contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>


    <div class="content"
        {% block body %}

        {% endblock %}
    </div>


    <footer>
        <div class="footer">
            &copy; mboRijnland 2020.
        </div>
    </footer>

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
