.banner {
  position: relative;
  height: 50vh;
  background-image: url("/img/banner.jpg");
  background-size: cover;
  background-position: center;
}
#banner_box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: $red;

  .textHolder {
    font-size: 45px;
    padding: 5px;
    height: 50vh;
    width: 100%;
    color: $white;
  }
  .readMore a{
    color: $white;
    background-color: $red;
    padding: 10px;
    transition: ease-in 300ms;
    &:hover {
      background-color: darken($red, 7.5%);
    }
  }
}
@media only screen and (min-width: 768px) {
  .banner {
    height: 100vh;
  }
  #banner_box {

    .textHolder {
      font-size: 16px;
      padding: 15px;
      height: 220px;
      width: 420px;
      float: right;

    }
    .readMore a{
      color: $white;
      background-color: $red;
      padding: 10px;
      transition: ease-in 300ms;
      &:hover {
        background-color: darken($red, 7.5%);
      }
    }
  }
}
