section#contact {
  height: 100%;

  .section-heading {
    color: $white;
  }
  .form-group {
    margin-bottom: 25px;

    input, textarea {
      padding: 20px;
    }

    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 248px;
    }
  }

  .form-control:focus {
    border-color: $red;
    box-shadow: none;
  }

  ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
    font-weight: 700;
    color: #ced4da;
  }
}